---
import Layout from '../layouts/Layout.astro';
import Acquisition from '../components/Acquisition.astro';
---

<Layout title="Chart Js">
	<main class="flex flex-col bg-orange-200">
		<h1 class="text-4xl font-bold text-center">Chart Js</h1>
		<div class="grid grid-cols-2 place-items-center h-screen ">
			<Acquisition />
		</div>
	</main>
</Layout>
